* {
  font-family: 'Special Elite', 'cursive;';
  color: #001220;
  ;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #00A0C6;
  text-decoration: none;
  cursor: pointer;
}

.input-field{
  height: 40px;
  position:relative;
  background:white;
  border: none;
  -webkit-border-radius: 5px;
}


.brand-name {
  font-size: 45px;
  font-weight: bold;
}

.container-beer {
  justify-content: center;
}

.img-beer {
  width: 10%;
  padding-top: 10px;
}

.card-beer {
  margin-top: 2%;
  padding-bottom: 2%;
  background-color: transparent;
  border-radius: 1.25rem;

}

.button {
  background: #48ab73;
}

.space {
  aspect-ratio: 960/300;
  width: 100%;
  /* background-position: center; */
  background-size: cover;
}

.wavy {
  background-image: url(./wavy.svg);
}

.layer {
  background-image: url(./layer.svg);
}

.circle {
  background-image: url(./circle.svg);
}
.nav-cart-wrapper{
  position: relative;
}
.nav-cart-wrapper span{
  position: absolute;
  top: -15px;
  left: 26px;
}