*{
font-family: 'Pacifico', 'cursive', 'sans-serif';
color:#001220;;
  


}
.brand-name{
  font-size: 45px;
  font-weight: bold;

}
.img-beer {
  width: 8%;
  height: 30%;
}
.button{
  background: #C62368;
}
.space{
  aspect-ratio: 960/300;
  width: 100%;
  /* background-position: center; */
  background-size: cover;
}
.wavy{
  background-image: url(./wavy.svg);
}
.layer{
  background-image: url(./layer.svg);
}
.circle{
  background-image: url(./circle.svg);
  
}


