*{
font-family: 'Special Elite', 'cursive;';
color:#001220;;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color:#00A0C6; 
  text-decoration:none; 
  cursor:pointer;  
}

li{
  list-style-type: none;
}
.main-container{
  background-color: #e34c67;
}
.brand-name{
  font-size: 45px;
  font-weight: bold;

}
.img-beer {
  height: 222px;
  padding-top: 10px;
}

.card-beer {
  padding-bottom: 4rem;
  padding-left: 4rem;
}

.button{
  background: #48ab73;
}
.space{
  aspect-ratio: 960/300;
  width: 100%;
  /* background-position: center; */
  background-size: cover;
}
.wavy{
  background-image: url(./wavy.svg);
}
.layer{
  background-image: url(./layer.svg);
}
.circle{
  background-image: url(./circle.svg);
}



